/*
   New Perspectives on HTML and CSS
   Tutorial 3
   Case Problem 2

   Mountain Wheels Text and Color Style
   Author: Tyler Carignan
   Date: 2.1.17

   Filename:         mw_layout.css
   Supporting Files: none

*/

body {
    font-family: Tahoma, Geneva, sans-serif;
}


/*header*/

#articleheader {
    font-size: 18px;
    font-weight: normal;
    font-kerning: 7px;
    text-align: center;
    font-style: normal;
}


/*nav's */

nav ul {
    background-color: rgb(125, 120, 89);
    line-height: 3em;
    list-style-type: none;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

nav ul li a:hover {
    color: yellow;
    color: rgb(255, 255, 255, 0.5);
}

nav ul li:hover {
    background-color: rgb(131, 121, 36);
    list-style-image: url(wheelmarker.png);
}


/*paragraphs*/

#leftsection>p {
    font-size: 22px;
}

#rightsection>p {
    color: gray;
    font-size: 14px;
    text-align: justify;
}

#rightsection h1 {
    font-size: 22px;
    font-kerning: 3px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0.2em;
}

#rightsection h2 {
    font-size: 18px;
    text-align: right;
    font-weight: normal;
}

#firstpar:first-line {
    text-transform: uppercase;
}


/*blockquote's */

blockquote p:before {
    content: open-quote;
}

blockquote p::after {
    content: close-quote;
}

blockquote {
    background-color: rgb(131, 121, 36);
    color: white;
    font-size: 16px;
    font-family: "Comic Sans MS", Times, cursive;
}


/*footer */

footer address {
    font-size: 16px;
    font-style: normal;
    text-align: center;
}
